*{
   font-family: Bookman Old Style;
}
header{
    background-image: url("images/header.jpg");
    background-repeat: repeat-x;
    height: 6em;
    top: 0px;
    position: sticky;
    width: 100%;
    margin-left: -.3em;
}
h2, h3, h4, h5, h6, h7, h8{
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
}
img{
    max-width: 100%;
}

body{
    background-color: #616a6a;
    margin: auto;
    width: 93%; 
    font-size: 16px;
}
article{
    margin-top: 0em;
}

ul {
list-style-type: none;
}
/* ########################## Dropdown menu ############################# */
nav{
    padding: 27px;
}

.menu li{
    vertical-align: text-top;
    display: inline-block;
    top: 0px;
    font-size: 20px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* form section */     
fieldset{
    border: 3px solid #00627f;
    clear: both;
    margin-top: 3em;
    padding: 1.5em;
}
 label {
    color: #245cb3;
    display: block;
    font-weight: bold;
    padding-right: 1.5em;
}
input,
textarea,
select{
    box-sizing: border-box;
    border: 3px solid #C2C2C2;
    box-shadow: 2px 2px 3.5px #EBEBEB; 
    border-radius: 4px;
    padding: 2em;
}
input:focus,
textarea:focus,
select:focus{
    border: 1px solid #0D0;
}     
 input[type=submit]{
    background: #005cb3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #dadada;
    color: #fff;
    width: 100%;
}
 .buttons legend{
    display: none;
}
 .buttons{
    text-align: center;
}
 .form-heading {
    border-bottom: 2px solid #ddd;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.8em;
    padding-bottom: 0.3em;
}
 .text-field{
    width: 100%;
}      
/* mistake css */
.mistake {
    color: #fff;
    background-color:#600;
    border: thin solid #000;
}     
#errors ol li{
   color: #ff4444;
}